@page "/network"
@inject Conesoft_Website_Kontrol.Services.NetworkScanner networkScanner

<section green>
    <h1>ip addresses</h1>
    <table>
        <tbody>
            <tr>
                <td>server address</td>
                <td default>@networkScanner.My</td>
            </tr>
            <tr>
                <td>local network</td>
                <td default>@(networkScanner.Network + "0")</td>
            </tr>
            @foreach(var address in Addresses) {
                <tr>
                    <td>@address.Name</td>
                    <td default>
                        <a href="http://@address.Address" target="_blank">@address.Address</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


@code {
    public Conesoft_Website_Kontrol.Services.NetworkScanner.AddressWithName[] Addresses = Array.Empty<Conesoft_Website_Kontrol.Services.NetworkScanner.AddressWithName>();

    protected override void OnInitialized()
    {
        var _ = Task.Run(async () =>
        {
            using var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
            while (await periodicTimer.WaitForNextTickAsync())
            {
                Addresses = await networkScanner.Scan();
                await InvokeAsync(StateHasChanged);
            }
        });
        base.OnInitialized();
    }
}