section {
    display: grid;
    grid-template:
        "image .           ." 0
        "image title       ." auto
        "image link        ." auto
        "image description ." 1fr
        "image .           ." 0
        / 10rem auto 0
}

    section h2 {
        grid-area: title;
        font-weight: 900;
        color: var(--accent-color);
    }

    section a {
        grid-area: link;
        padding: 0.5rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    section img {
        grid-area: image;
        place-self: stretch;
        object-fit: cover;
        max-height: 100%;
        aspect-ratio: 1;
    }

    section p {
        grid-area: description;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height:  5rem;
        line-height: 1rem;
        font-weight: 100;
        opacity: 0.5;
    }
