main {
    --min-width: 30rem;
    --section-height: 13rem;
    --image-width: 13rem;
    @media(aspect-ratio < 1) {
        --min-width: max-content;
        --section-height: 11rem;
        --image-width: 9rem;
    }
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}

main * {
    grid-column: auto;
}

article {
    display: grid;
    grid-template:
        ". .           ." 0
        ". title       ." auto
        ". link        ." auto
        ". description ." 1fr
        ". .           ." 0
        / 0 auto 0;
    overflow: hidden;
    max-height: var(--section-height);
    gap: 1rem;
    background: var(--background-color);
    position: relative;
    line-height: 1rem;
}

    article:hover, article:focus-within {
        scale: 1.005;
    }

    article:has(img) {
        grid-template:
            "image .           ." 0
            "image title       ." auto
            "image link        ." auto
            "image description ." 1fr
            "image .           ." 0
            / var(--image-width) auto 0;
    }

    article h2 {
        grid-area: title;
        font-weight: 900;
        color: var(--accent-color);
        font-size: 1.25rem;
        line-height: 1rem;
        text-shadow: 0 0 0.125rem black, 0 0 0.25rem black, 0 0 0.5rem black, 0 0 1rem black;
    }

    article a {
        grid-area: link;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        article a::after {
            content: "";
            inset: 0;
            position: absolute;
        }

    article img {
        grid-area: image;
        place-self: stretch;
        object-fit: cover;
        max-height: 100%;
        aspect-ratio: 1;
    }

    article p {
        grid-area: description;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 100;
        opacity: 0.5;
    }