@page "/content"
@using Conesoft.Tools
@using System.Diagnostics
@using System.Text.RegularExpressions
@using System.Net
@using Conesoft_Website_Kontrol.Tools

@* @attribute [StreamRendering(true)] *@

<PageTitle>Content Kontrol</PageTitle>

<main>
    @if (Entries.Any())
    {
        @foreach (var entry in Entries)
        {
            <section>
                <h2>@WebUtility.HtmlDecode(entry.Name)</h2>
                <a href="@entry.Url" target="_blank">@entry.Url.CleanUrl()</a>
                @if (string.IsNullOrWhiteSpace(entry.ImageFilename) == false)
                {
                    <img src="/content/feeds/thumbnail/@entry.ImageFilename">
                }
                <p>@FastEntryDecoder.DecodeDescription(entry)</p>
            </section>
        }
    }
</main>