main {
    display: grid;
    gap: 1rem;
    place-self: stretch;

    & > section > * {
        padding: 1rem;
    }
}

@media (aspect-ratio < 1) {
    main {
        grid-template:
            "list" auto
            "form" auto
            "compensation" auto
            / 1fr;
    }
}

@media (aspect-ratio >= 1) {
    main {
        grid-template:
            "form list" minmax(0, 1fr)
            "form compensation" auto
            / minmax(30rem, 1fr) 2fr;
    }
}

::deep :where(section), ::deep :where(section *) {
    grid-template-columns: initial;
    grid-column: initial;
    place-content: stretch;
}

    ::deep section#list {
        grid-area: list;
    }

    ::deep section#compensation {
        grid-area: compensation;
    }

    ::deep section#form {
        grid-area: form;
    }

::deep .bill {
    --entry-color: darkred;
    --entry-mask: url('/content/finances/bill.svg');
}

::deep .income {
    --entry-color: darkgoldenrod;
    --entry-mask: url('/content/finances/income.svg');
}

::deep .compensation {
    --entry-color: cornflowerblue;
    --entry-mask: url('/content/finances/compensation.svg');
}
