@page "/"
@using Conesoft.Blazor.NetatmoAuth
@using Conesoft_Website_Kontrol.Features.ClimateSensors.Services
@using Conesoft_Website_Kontrol.Features.LightControls.Services
@using Conesoft_Website_Kontrol.Services
@using Q42.HueApi
@using Conesoft.Tools;
@using Conesoft_Website_Kontrol.Tools.BackgroundInitialization
@using System.Timers
@using Conesoft_Website_Kontrol.Components.Controls.Home

@rendermode InteractiveServer

@implements IDisposable

@inject IWhenAvailable<LocalHueClient> localHueClient
@inject IWhenAvailable<ClimateSensors> climateSensors

<PageTitle>Home Kontrol</PageTitle>

<AuthorizeView Roles="Admin, Editor">
    <Authorized>
        <main>
            @if (localHueClient.Instance is LocalHueClient _localHueClient && climateSensors.Instance is ClimateSensors _climateSensors)
            {
                <Rooms LocalHueClient="@_localHueClient" ClimateSensors="@_climateSensors" />
            }
        </main>
    </Authorized>
</AuthorizeView>

@code {
    Timer timer = new(TimeSpan.FromSeconds(1));

    protected override void OnInitialized()
    {
        if (RendererInfo.IsInteractive)
        {
            localHueClient.WhenAvailable(this, my => my.Start());
            climateSensors.WhenAvailable(this, my => my.Start());
        }
    }

    private void Start()
    {
        if (localHueClient.Instance is LocalHueClient _localHueClient && climateSensors.Instance is ClimateSensors _climateSensors)
        {
            timer.Elapsed += async (_, _) => await InvokeAsync(StateHasChanged);
            timer.Start();
        }
    }

    public void Dispose() => timer.Dispose();
}