@page "/"
@using Conesoft.Blazor.NetatmoAuth
@using Conesoft_Website_Kontrol.Features.LightControls.Services
@using Conesoft_Website_Kontrol.Services
@using Q42.HueApi
@using Conesoft.Tools;
@using Conesoft_Website_Kontrol.Tools.BackgroundInitialization
@using System.Timers
@using Conesoft_Website_Kontrol.Components.Controls.Home

@rendermode InteractiveServer

@implements IDisposable

@inject IWhenAvailable<LocalHueClient> localHueClient

<PageTitle>Home Kontrol</PageTitle>

<AuthorizeView Roles="Admin, Editor">
    <Authorized>
        <main>
            @if (localHueClient.Instance is LocalHueClient client)
            {
                <Rooms LocalHueClient="@client" />
            }
        </main>
    </Authorized>
</AuthorizeView>

@code {
    Timer timer = new(TimeSpan.FromSeconds(1));

    protected override void OnInitialized()
    {
        if (RendererInfo.IsInteractive)
        {
            localHueClient.WhenAvailable(this, my =>
            {
                my.timer.Elapsed += async (_, _) => await InvokeAsync(StateHasChanged);
                my.timer.Start();
            });
        }
    }

    public void Dispose() => timer.Dispose();
}