@using Conesoft.Blazor.Components

<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <HtmlHead Cdn="new" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <BootBlazor />
</body>

</html>
