@using Conesoft.Blazor.Components

<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <base href="/" />
    <HeadOutlet />
    <style>
                /* temporary */
        body > header > a {
            scale: 1.5;
            translate: 0 -0.25rem;
            padding-inline: 0.25rem;
            color: var(--accent-color) !important;
            font-size: 2em;
            font-weight: bold;
            line-height: 2rem;
            margin-inline-start: 1rem;
            text-decoration: none;
        }
        body > header {
            grid-template-columns: auto 1fr auto calc(100% - env(titlebar-area-width, 100%)) !important;
        }

        body > header >nav a:first-of-type {
            scale: 1 !important;
            translate: 0 !important;
            padding-inline: 0 !important;
        }
    </style>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <footer>
        <p>&copy; @DateTime.Today.Year</p>
        <p>written by <a href="https://davepermen.net">davepermen</a></p>
        <p>a <a href="https://conesoft.net">conesoft product</a> running on .NET @Environment.Version.Major</p>
    </footer>
</body>

</html>
