main ::deep {
    overflow: hidden;
}

section#layout {
    display: grid;
    gap: 1rem;
    contain: strict;
}

@media (aspect-ratio < 1) {
    section#layout {
        grid-template:
            "list" auto
            "form" auto
            "compensation" auto
            / 1fr;
        overflow: auto;
        margin: 0;
        margin-bottom: 4rem;
    }

    section#compensation {
        margin: 1rem;
    }
}

@media (aspect-ratio >= 1) {
    section#layout {
        display: grid;
        grid-template:
            "form list" 1fr
            "form compensation" auto
            / 1fr 2fr;
        overflow: hidden;
        margin: 1rem;
    }

    section#list {
        grid-area: list;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    section#compensation {
        margin: 0 1rem;
    }
}


section#compensation {
    grid-area: compensation;
    place-self: end;
}

section#form {
    grid-area: form;
}

details[open] {
    background: black;
    padding-top: 1rem;
    display: grid;
}

    details[open] > summary {
        font-weight: 900;
        background: #333;
        padding-inline: 1rem;
        border-radius: 1rem 1rem 0 0;
        width: min-content;
    }

details:not([open]) {
    display: inline;
    margin-right: 1ch;
    margin-block: 1rem;
    background: #333;
    padding: 0 1ch;
    border-radius: 1000px;
}

    details:not([open]) > summary {
    }

summary {
    line-height: 2rem;
    list-style: none;
    text-align: center;
}

.months {
    background: #111;
    display: inline-block;
}

    .months > li {
        display: inline;
        background: none;
    }

.entries > li {
    grid-template:
        "label date"
        "who value"
        / 1fr auto;
    padding: 0.5rem 1rem;
}

    .entries > li .label {
        grid-area: label;
        font-weight: bold;
    }

    .entries > li .date {
        grid-area: date;
        opacity: 0.7;
    }

    .entries > li .who {
        grid-area: who;
        font-weight: 100;
        opacity: 0.9;
    }

    .entries > li .value {
        grid-area: value;
        font-weight: 500;
        place-self: end;
    }

*.bill b {
    color: darkred;
}

*.income b {
    color: darkgoldenrod;
}

*.compensation b {
    color: cornflowerblue;
}

::deep legend {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    text-align: left;
}

::deep label {
    background: #333;
    transition: all 0.333s linear;
}

    ::deep label:hover,
    ::deep label:has(input:checked) {
        filter: invert();
    }

::deep input[type=radio] {
    display: none;
}

section#form > h1 {
    font-weight: 900;
    background: #333;
    padding-inline: 1rem;
    border-radius: 1rem 1rem 0 0;
    width: max-content;
    line-height: 2rem;
}

::deep form {
    background: #111;
    padding: 1rem 1rem 2rem;
    border-radius: 0 1rem 1rem 1rem;
}

::deep input {
    background: #222;
}
