li {
    grid-auto-flow: row;
    gap: 0;
}

li * {
    min-height: 0;
}

*.bill b {
    color: darkred;
}

*.income b {
    color: darkgoldenrod;
}

*.compensation b {
    color: cornflowerblue;
}

::deep legend {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    text-align: left;
}

::deep label {
    background: #333;
    transition: all 0.333s linear;
}
::deep label:hover,
::deep label:has(input:checked) {
    filter: invert();
}
::deep input[type=radio] {
    display: none;
}