@inherits LayoutComponentBase

<Title>Kontrol</Title>
<Meta name="description" content="Kontrol by Conesoft" />
<Meta property="og:type" content="website" />
<Meta property="og:title" content="Kontrol" />
<Meta property="og:description" content="Kontrol by Conesoft" />
<Meta property="og:image" content="/meta-image.jpg" />

@Body