@inherits LayoutComponentBase

<header>
    <h1><NavLink href="" Match="NavLinkMatch.All">Kontrol</NavLink></h1>
    <nav>
        <NavLink href="car">car</NavLink>
        <NavLink href="home">home</NavLink>
        <NavLink href="content">content</NavLink>
    </nav>
</header>
<main>
    @Body
</main>
<footer>
    <p>&copy; 2022</p>
    <p>written by <a href="https://davepermen.net">davepermen</a></p>
    <p>a <a href="https://conesoft.net">conesoft product</a></p>
</footer>
