@inherits LayoutComponentBase

<PageTitle>Kontrol</PageTitle>
<HeadContent>
    <meta name="description" content="Kontrol by Conesoft" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kontrol" />
    <meta property="og:description" content="Kontrol by Conesoft" />
    <meta property="og:image" content="/meta-image.jpg" />
</HeadContent>

<header>
    <h1>
        <NavLink href="" Match="NavLinkMatch.All">Kontrol</NavLink>
        <nav>
            <NavLink href="car">car</NavLink>
            <NavLink href="home">home</NavLink>
            <NavLink href="finances">finances</NavLink>
            <NavLink href="content">content</NavLink>
        </nav>
    </h1>
</header>
<main>
    @Body
</main>
<footer>
    <p>&copy; 2023</p>
    <p>written by <a href="https://davepermen.net">davepermen</a></p>
    <p>a <a href="https://conesoft.net">conesoft product</a></p>
</footer>
