section {
    place-self: stretch;
}

::deep input[type=radio] {
    display: none;
}

::deep form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    ::deep form > *:last-child {
        flex-grow: 1;
        margin-top: 1rem;
    }

::deep input.main {
    width: 100%;
    font-size: 4rem;
}

::deep input, ::deep button, ::deep label {
    place-content: center stretch;
    min-height: 2rem;
}

::deep [horizontal] {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

::deep fieldset {
    padding-block: 1rem;
    place-content: stretch;
    gap: 1rem;
}
