section {
    display: grid;
    place-items: stretch;
    line-height: 3rem;
}

    section *:last-child {
        text-align: end;
    }


    b {
        color: var(--entry-color);
        padding-inline-end: 1rem;
    }